<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>Blog Titlte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- style -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-innser">

    </div>
</div>


<!-- main -->
<div class="container">

    <%- body %>

</div>
<!-- end main -->

</body>
</html>